.CharacterBlock {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    }

.Portrait {
    margin-left: 0px;
    margin-right: 0px;
}

.userDetails {
    display: block;
    }

.strongLabel {
    font-weight: 600
}

#MainContent_labelvCode {
    word-wrap: normal; 
    word-break: break-all;
}

#extraDetails {
    color: darkgray
}


#ButtonCentre {
    margin-top: 15px;
}